* {
    box-sizing: border-box
}
@font-face {
    font-family: MaximumVoltageItalic;
    src: url(../FONTES/Maximum\ Voltage\ Italic.otf);
}
@font-face {
    font-family: font1;
    src: url(../FONTES/TypoSlab\ Irregular\ Demo.otf);
}

/* --- //////////////////////////////////////////////////////// BODY //////////////////////////////////////////////////////// --- */

body {
    font-family: Verdana, sans-serif; 
    margin:0;
    background-color: #FFD101;
}
#segmento1{
    background-color: white;
    margin-bottom: 30px;
    display: block;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    border: solid black 1px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(28, 28, 28, 0.3) 10px 10px, rgba(89, 89, 89, 0.2) 15px 15px, rgba(142, 142, 142, 0.1) 20px 20px, rgba(220, 220, 220, 0.05) 25px 25px;
}
.Titulo{
    font-weight: bold;
    font-family: font1;
    font-size: 50px;
}
#mid{
    margin: 20px;
    font-size: 100px;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    font-family: MaximumVoltageItalic;
}
#SubTitulo{
    font-size: 20px;
    justify-content: center;
}

/* --- //////////////////////////////////////////////////////// HEADER //////////////////////////////////////////////////////// --- */

header{
    background-color: #FFD101;
    width: 100%;
    height: 50px;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    font-family: font1;
}

a{
    color: black;
    text-decoration: none;
}

li{
    display: inline-block;
    margin-left: 10px;
}

ul{
    margin-right: 20px;
}

#NomeEmpresa{
    display: flex;
    display: inline-block;
    color: black;
    font-size: 28px;
    font-family: MaximumVoltageItalic;
    margin-left: 10px;
}
#bloco1{
    margin-top: -20px;
    height: 60vh;
    justify-content: center;
    align-items: center;
}
#P1{
    position: absolute;
    right: 90%;

}
#P2{
    position: absolute;
    left: 90%;
    top: 10%;
}
#Bola{
    position: absolute;
    left: 50%;   
}
#Bola2{
    position: absolute;
    left: 50.5%;
    top: 35%;
    rotate: 10deg;
    opacity: 0.5;
}
#Bola3{
    position: absolute;
    left: 51%;   
    top: 34%;
    rotate: 30deg;
    opacity: 0.3;
}
#Bola4{
    position: absolute;
    left: 51.5%;
    rotate: 60deg;
    top: 33%;
    opacity: 0.1;
}


/* --- //////////////////////////////////////////////////////// SLIDESHOW //////////////////////////////////////////////////////// --- */

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

hr{
    top: 50px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
