                                                                                /* --- CABECALHO --- */
header{
    display: flex;
	background-color: #0670c6;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 10px;
	background-size: cover;
	background-position: center;
}
@font-face {
    font-family: MaximumVoltageItalic;
    src: url(../FONTES/Maximum\ Voltage\ Italic.otf);
}
li{
    display: inline-block;
    margin: 24px;
}

a{
    color: white;
    font-weight: bold;
}
a:hover{
    color: black;
    transition: 0.3s all;
}
#Download{
    display: flex;
    justify-content: center;
    margin-right: 24px;
    border: 2px solid rgb(0, 0, 0);
	padding: 4px;
	border-radius: 16px;
	font-weight: bold;
    width: 180px;
    background-color: #d8670a;
}
#Download:hover{
    background-color: #ff7300;
    transition: 0.3s all;
}
#BtnDownload{
    color: rgb(224, 224, 224);
    font-size: 25px;
}
#TextoDownload:hover{
    color: white;
}

                                                                                /* --- CORPO --- */

body{
    background-color: rgb(49, 70, 163);
}
#titulo{
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}
#TituloFonte{
    font-size: 150px;
    font-family: MaximumVoltageItalic;
    color: white;
    font-weight: bold;
}
